/*
 1. Khi 2 style cùng cấp nói về 1 property -> ưu tiên dùng cái nói sau
 2. Khi 2 style khác cấp cùng nói 1 property -> ưu tiên dùng cái cấp cao hơn
    -> các cấp cao dần: tag < parent tag < class < parent class < id < parent id
*/
html body #idcompare{
    color: rebeccapurple;
}
#idcompare{
    color: pink;
}
body .classcompare{
    color: orange;
}
.classcompare{
    color: blue;
}
body h1{
    
}
h1{
    color: red;
}
h1{
    color: green;
}